---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 88
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: false
